<div class="note-wrapper">
	<div class="note-content">
		<div class="notes-header">
			<h1 title="Notes">Notes</h1>
		</div>

		<div class="note-wrapper">
			<a class="card-notes" ng-repeat="note in notes">
				<div class="card" title="{{note.title}}">
					<h2 class="h3">{{note.title}}</h2>
					<p>{{note.description}}</p>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="users-wrapper">
	<h1>Users</h1>

	<div class="users-wrapper">
		<a class="card-users" ng-repeat="user in users">
			<div class="card" title="{{user.name}}">
				<h2 class="h3">{{user.name}}</h2>
				<p>{{user.bio}}</p>
			</div>
		</a>
	</div>
</div>
